# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
venv.bak/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-file.txt

# mypy
.mypy_cache/
.dmypy.json
.dmypy.json

# IDE files
*.pyc
*.pdb
*.orig
*.sqlite3